/examples/**/*.class
/examples/Lecture11/IS2545Lecture14NetBeans/nbproject/private/
/examples/Lecture14/IS2545Lecture14NetBeans/target/
/examples/Lecture14/IS2545Lecture14NetBeans/nbproject/private/
/examples/Lecture14/IS2545Lecture14NetBeans/build/
/examples/Lecture15/IS2545Lecture15NetBeans/nbproject/private/
/examples/Lecture15/IS2545Lecture15NetBeans/build/
/examples/Lecture15/IS2545Lecture15NetBeans/dist/
/examples/Lecture17/IS2545Lecture17NetBeans/nbproject/private/
/examples/Lecture17/IS2545Lecture17NetBeans/build/
/examples/Lecture17/IS2545Lecture17NetBeans/dist/
/examples/Lecture24/IS2545Lecture24Netbeans/nbproject/private/
/examples/Lecture24/IS2545Lecture24Netbeans/build/